*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  display: block;
}

.hide {
  display: none;
}

.nav {
  display: flex;
  background-color: slategrey;
  color: white;
  padding: 5px;
  font-size: 1.25rem;
  position: relative;
}

#link {
  text-decoration: none;
  text-align: left;
  color: white;
  left: 5px;
}

#time {
  text-align: right;
  color: white;
  position: absolute;
  right: 5px;
}

#intro {
  border: ridge 10px slategrey;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  padding: 20px;
  position: relative;
  top: 30px;
}

#start-btn {
  font-size: 1.5rem;
  color: white;
  border-style: double;
  border-radius: 10px;
  margin: 20px;
  width: 200px;
  height: 50px;
  position: relative;
  top: 30px;
}

.btn {
  color: white;
  border-style: double;
  border-radius: 10px;
  background-color: lightseagreen;
  margin: 20px;
}

.btn:hover {
  background-color: slategray;
}

.highscores {
  justify-content: center;
  text-align: center;
  display: flex;
}

#questions-div {
  padding-top: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75vh;
}

#answer-btns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}
